.item-wrap {
    display: flex;
    flex-direction: column;

    .item-pic {
        width: 450px;
        height: 430px;

        .item-back {
            background-color: var(--greyLight);
            width: 350px;
            height: 350px;
        }

        .item-img-wrap {
            position: absolute;
            z-index: 5;
            margin: 50px;
            width: 350px;
            height: 350px;
            overflow: hidden;

            .item-img {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                filter: grayscale(100%);
                width: 100%;
                height: 100%;
    
                &:hover {
                    cursor: pointer;
                    filter: grayscale(0%);
                    transform: scale(1.1);
                    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
                }
            }
        }

    }

    .item-text {
        width: 400px;
        margin-bottom: 50px;

        h4 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .item-description {
            font-weight: 300;
            font-size: 1rem;
            margin-bottom: 15px;
            text-align: right;
        }

        .item-year-tech {
            font-weight: 300;
            font-size: 0.9rem;
            text-align: center;
        }

        .item-demo {
          text-align: center;
          margin-top: 20px;
        }
    }
}

@media (max-width: 768px) {
  .item-wrap {

    .item-pic {
        width: 100%;
        height: auto;

        .item-back {
            width: 300px;
            height: 300px;
        }

        .item-img-wrap {
            margin: 40px;
            width: 300px;
            height: 300px;
        }
    }

    .item-text {
        width: 100%;
        margin-top: 50px;
    }
  }
}