.contact-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  // height: 40s0px;
  font-weight: 100;
  line-height: 30px;
  padding-bottom: 30px;

  .contact-logo {
    width: 88px;
    margin: 20px;
  }

  h1 {
    font-family: "Lexend", sans-serif;
    // font-weight: 500;
    font-size: 2rem;
    margin: 20px;
  }

  h4 {
    margin-bottom: 20px;
  }
}
