.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 30px 20px 0;
  position: absolute;
  z-index: 10;

  .navbar-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .navbar-logo-p {
      margin-left: 20px;
      color: var(--greyMedium);
      font-size: 1rem;
    }
  }

  .navbar-logo-container {
    height: 100%;
    width: 44px;
    padding-left: 30px;
  }

  .navbar-options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;

    .navbar-option {
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}
