.header {
  background-image: url(../../assets/abstract-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;

  h1 {
    font-family: "Abril Fatface", cursive;
    // font-family: 'Vidaloka', serif;
  }
}
