:root {
  --gradientPinkOr: linear-gradient(
    44deg,
    rgba(233, 70, 138, 1) 0%,
    rgba(249, 184, 76, 1) 100%
  );
  --gradientBlue: linear-gradient(
    44deg,
    rgba(11, 30, 69, 1) 36%,
    rgba(76, 226, 249, 1) 100%
  );
  --gradientBluePink: linear-gradient(
    44deg,
    rgba(11, 30, 69, 1) 11%,
    rgba(233, 70, 138, 1) 100%
  );

  --or: #f9b807;
  --orange: #f86811;
  --pink: #e9468a;
  --frambuesa: #8f0942;
  --sky: #4ce2f9;
  --blue: #0b1e45;
  --greyLight: #bcbcbc;
  --greyMedium: #777777;
  --grey: #414141;

  --clr-darkBackground: #131325;
  --clr-inactiveField: #141421;
  --clr-lightBackground: #1b1b2c;

  // #0D1635
  // #0b032d
}

body {
  color: var(--grey);
  font-family: "Lexend", sans-serif;
  // font-family: 'Abril Fatface', cursive;
  // font-family: 'Vidaloka', serif;
}

button {
  font-family: "Lexend", sans-serif;
  font-size: 0.85rem;
  margin-left: 20px;
  margin-right: 20px;
}

h1,
h2 {
  font-family: "Abril Fatface", cursive;
  // font-family: "Prata", serif;
}

a {
  text-decoration: none;
  color: var(--greyMedium);
  font-size: 0.85rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
}


.fadeInLeft {
  -webkit-animation: fadeInLeft 2s ease;
  animation: fadeInLeft 2s ease;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation: fadeInRight 2s ease;
  animation: fadeInRight 2s ease;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInDown {
  -webkit-animation: fadeInDown 2s ease;
  animation: fadeInDown 2s ease;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation: fadeInUp 2s ease;
  animation: fadeInUp 2s ease;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUpRotated {
  -webkit-animation: fadeInUpRotated 2s ease;
  animation: fadeInUpRotated 2s ease;
}
@keyframes fadeInUpRotated {
  0% {
    opacity: 0;
    transform: translateY(60px) rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(-90deg);
  }
}


.medweight {
  font-weight: 300;
}
.greyLight {
  color: var(--greyLight);
}
.greyMedium {
  color: var(--greyMedium);
}
.grey {
  color: var(--grey);
}

.size5 {
  font-size: 5rem;
}
.size4 {
  font-size: 4rem;
}
.size1 {
  font-size: 1.2rem;
}

@media (min-width: 1200px) and (max-width: 1815px) {
  .size5 {
    font-size: 4rem;
  }
  .size1 {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .size5 {
    font-size: 4rem;
  }
  .size1 {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .size5 {
    font-size: 2.2rem;
    padding-left: 10px;
  }
  .size1 {
    font-size: 0.8rem;
    padding-left: 10px;
  }
}