.portfolio-wrap {
    margin-left: 15%;
    margin-right: 10%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 5rem;
        margin-bottom: 30px;
    }

    .portfolio-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .fadeInDown {
        -webkit-animation: fadeInDown 2s ease;
        animation: fadeInDown 2s ease;
      }
      @keyframes fadeInDown {
        0% {
          opacity: 0;
          transform: translateY(-60px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
}